In [1]:
import pandas as pd

In [2]:
Explore_data = pd.read_csv("../Data/Normalized Datasets/NormalizedMergedData.csv")

In [3]:
Explore_data.head()

      Crops  Year  Value in Tonnes  Value in US$1000  Temperature Change
0     Maize  1999      239548580.0        17247498.0               0.755
1  Soybeans  1999       72223460.0        12277988.0               0.755
2     Wheat  1999       62567284.0         5693623.0               0.755
3     Maize  2000      251853900.0        18385335.0               1.000
4  Soybeans  2000       75055290.0        12534233.0               1.000