# Cleaning the Normalized Data

## Importing Packages

In [1]:
import pandas as pd

## Importing DataSets

In [2]:
CropsProduction = pd.read_csv('C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week2/Raw DataSets/Normalized_Crops.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week2/Raw DataSets/Normalized_Crops.csv'

In [ ]:
CropsProduction.head()

In [3]:
print(CropsProduction)

NameError: name 'CropsProduction' is not defined

In [10]:
ValueOfCrops= pd.read_csv('C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week2/Raw DataSets/Value_of_Crops_normalized.csv')

In [11]:
print(ValueOfCrops)

         Area Code                                     Area  Item Code  \
0                2                              Afghanistan        221
1                2                              Afghanistan        221
2                2                              Afghanistan        221
3                2                              Afghanistan        221
4                2                              Afghanistan        221
...            ...                                      ...        ...
3213513       5817  Net Food Importing Developing Countries       1739
3213514       5817  Net Food Importing Developing Countries       1739
3213515       5817  Net Food Importing Developing Countries       1739
3213516       5817  Net Food Importing Developing Countries       1739
3213517       5817  Net Food Importing Developing Countries       1739

                                 Item  Element Code  \
0                 Almonds, with shell           152
1                 Almonds, with shell           152
2                 Almonds, with shell           152
3                 Almonds, with shell           152
4                 Almonds, with shell           152
...                               ...           ...
3213513  Vegetables and Fruit Primary            58
3213514  Vegetables and Fruit Primary            58
3213515  Vegetables and Fruit Primary            58
3213516  Vegetables and Fruit Primary            58
3213517  Vegetables and Fruit Primary            58

                                                   Element  Year Code  Year  \
0        Gross Production Value (constant 2014-2016 tho...       1976  1976
1        Gross Production Value (constant 2014-2016 tho...       1977  1977
2        Gross Production Value (constant 2014-2016 tho...       1978  1978
3        Gross Production Value (constant 2014-2016 tho...       1979  1979
4        Gross Production Value (constant 2014-2016 tho...       1980  1980
...                                                    ...        ...   ...
3213513  Gross Production Value (constant 2014-2016 tho...       2014  2014
3213514  Gross Production Value (constant 2014-2016 tho...       2015  2015
3213515  Gross Production Value (constant 2014-2016 tho...       2016  2016
3213516  Gross Production Value (constant 2014-2016 tho...       2017  2017
3213517  Gross Production Value (constant 2014-2016 tho...       2018  2018

                Unit       Value Flag
0        1000 Int. $     49550.0   Fc
1        1000 Int. $     45505.0   Fc
2        1000 Int. $     60673.0   Fc
3        1000 Int. $     53089.0   Fc
4        1000 Int. $     50055.0   Fc
...              ...         ...  ...
3213513     1000 US$  62007241.0    A
3213514     1000 US$  64558239.0    A
3213515     1000 US$  65009417.0    A
3213516     1000 US$  66273307.0    A
3213517     1000 US$  68463998.0    A

[3213518 rows x 11 columns]

In [12]:
TempChanges = pd.read_csv('C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week2/Raw DataSets/Temperature_change_Normalized.csv')

In [13]:
print(TempChanges)

        Area Code         Area  Months Code               Months  \
0               2  Afghanistan         7001              January
1               2  Afghanistan         7001              January
2               2  Afghanistan         7001              January
3               2  Afghanistan         7001              January
4               2  Afghanistan         7001              January
...           ...          ...          ...                  ...
537365       5873         OECD         7020  Meteorological year
537366       5873         OECD         7020  Meteorological year
537367       5873         OECD         7020  Meteorological year
537368       5873         OECD         7020  Meteorological year
537369       5873         OECD         7020  Meteorological year

        Element Code             Element  Year Code  Year Unit  Value Flag
0               7271  Temperature change       1961  1961   �C  0.746   Fc
1               7271  Temperature change       1962  1962   �C  0.009   Fc
2               7271  Temperature change       1963  1963   �C  2.695   Fc
3               7271  Temperature change       1964  1964   �C -5.277   Fc
4               7271  Temperature change       1965  1965   �C  1.827   Fc
...              ...                 ...        ...   ...  ...    ...  ...
537365          6078  Standard Deviation       2016  2016   �C  0.261   Fc
537366          6078  Standard Deviation       2017  2017   �C  0.261   Fc
537367          6078  Standard Deviation       2018  2018   �C  0.261   Fc
537368          6078  Standard Deviation       2019  2019   �C  0.261   Fc
537369          6078  Standard Deviation       2020  2020   �C  0.261   Fc

[537370 rows x 11 columns]

## Cleaning Datasets

### Dropping Rows

In [25]:
CropsProductionusa = CropsProduction.loc[CropsProduction['Area']=='United States of America']

In [26]:
CropsProductionusa.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
2651510,231,United States of America,221,"Almonds, with shell",5312,Area harvested,1961,1961,ha,36138.0,NaN
2651511,231,United States of America,221,"Almonds, with shell",5312,Area harvested,1962,1962,ha,37676.0,NaN
2651512,231,United States of America,221,"Almonds, with shell",5312,Area harvested,1963,1963,ha,39578.0,NaN
2651513,231,United States of America,221,"Almonds, with shell",5312,Area harvested,1964,1964,ha,41196.0,NaN
2651514,231,United States of America,221,"Almonds, with shell",5312,Area harvested,1965,1965,ha,47469.0,NaN

In [28]:
CropsProductionusa2 = CropsProductionusa.loc[CropsProductionusa['Item'].isin(['Maize','Soybeans','Wheat'])]

In [29]:
print(CropsProductionusa2)

         Area Code                      Area  Item Code   Item  Element Code  \
2661031        231  United States of America         56  Maize          5312
2661032        231  United States of America         56  Maize          5312
2661033        231  United States of America         56  Maize          5312
2661034        231  United States of America         56  Maize          5312
2661035        231  United States of America         56  Maize          5312
...            ...                       ...        ...    ...           ...
2673096        231  United States of America         15  Wheat          5510
2673097        231  United States of America         15  Wheat          5510
2673098        231  United States of America         15  Wheat          5510
2673099        231  United States of America         15  Wheat          5510
2673100        231  United States of America         15  Wheat          5510

                Element  Year Code  Year    Unit       Value Flag
2661031  Area harvested       1961  1961      ha  23323008.0  NaN
2661032  Area harvested       1962  1962      ha  22551008.0  NaN
2661033  Area harvested       1963  1963      ha  23968000.0  NaN
2661034  Area harvested       1964  1964      ha  22407008.0  NaN
2661035  Area harvested       1965  1965      ha  22416032.0  NaN
...                 ...        ...   ...     ...         ...  ...
2673096      Production       2016  2016  tonnes  62831507.0  NaN
2673097      Production       2017  2017  tonnes  47379810.0  NaN
2673098      Production       2018  2018  tonnes  51305540.0  NaN
2673099      Production       2019  2019  tonnes  52580890.0  NaN
2673100      Production       2020  2020  tonnes  49690680.0  NaN

[540 rows x 11 columns]

In [30]:
CropsProductionusa3 = CropsProductionusa2.loc[CropsProductionusa2['Element']=='Production']

In [31]:
print(CropsProductionusa3)

         Area Code                      Area  Item Code   Item  Element Code  \
2661151        231  United States of America         56  Maize          5510
2661152        231  United States of America         56  Maize          5510
2661153        231  United States of America         56  Maize          5510
2661154        231  United States of America         56  Maize          5510
2661155        231  United States of America         56  Maize          5510
...            ...                       ...        ...    ...           ...
2673096        231  United States of America         15  Wheat          5510
2673097        231  United States of America         15  Wheat          5510
2673098        231  United States of America         15  Wheat          5510
2673099        231  United States of America         15  Wheat          5510
2673100        231  United States of America         15  Wheat          5510

            Element  Year Code  Year    Unit        Value Flag
2661151  Production       1961  1961  tonnes   91388000.0  NaN
2661152  Production       1962  1962  tonnes   91604000.0  NaN
2661153  Production       1963  1963  tonnes  102093008.0  NaN
2661154  Production       1964  1964  tonnes   88504000.0  NaN
2661155  Production       1965  1965  tonnes  104216928.0  NaN
...             ...        ...   ...     ...          ...  ...
2673096  Production       2016  2016  tonnes   62831507.0  NaN
2673097  Production       2017  2017  tonnes   47379810.0  NaN
2673098  Production       2018  2018  tonnes   51305540.0  NaN
2673099  Production       2019  2019  tonnes   52580890.0  NaN
2673100  Production       2020  2020  tonnes   49690680.0  NaN

[180 rows x 11 columns]

In [38]:
CropsProductionusa4 = CropsProductionusa3.loc[CropsProductionusa3['Year'] > 1998]

In [35]:
print(CropsProductionusa4)

         Area Code                      Area  Item Code   Item  Element Code  \
2661189        231  United States of America         56  Maize          5510
2661190        231  United States of America         56  Maize          5510
2661191        231  United States of America         56  Maize          5510
2661192        231  United States of America         56  Maize          5510
2661193        231  United States of America         56  Maize          5510
...            ...                       ...        ...    ...           ...
2673096        231  United States of America         15  Wheat          5510
2673097        231  United States of America         15  Wheat          5510
2673098        231  United States of America         15  Wheat          5510
2673099        231  United States of America         15  Wheat          5510
2673100        231  United States of America         15  Wheat          5510

            Element  Year Code  Year    Unit        Value Flag
2661189  Production       1999  1999  tonnes  239548580.0  NaN
2661190  Production       2000  2000  tonnes  251853900.0  NaN
2661191  Production       2001  2001  tonnes  241376650.0  NaN
2661192  Production       2002  2002  tonnes  227766880.0  NaN
2661193  Production       2003  2003  tonnes  256229020.0  NaN
...             ...        ...   ...     ...          ...  ...
2673096  Production       2016  2016  tonnes   62831507.0  NaN
2673097  Production       2017  2017  tonnes   47379810.0  NaN
2673098  Production       2018  2018  tonnes   51305540.0  NaN
2673099  Production       2019  2019  tonnes   52580890.0  NaN
2673100  Production       2020  2020  tonnes   49690680.0  NaN

[66 rows x 11 columns]

In [41]:
CropsProductionfinal = CropsProductionusa4.loc[CropsProductionusa4['Year'] < 2020]

In [42]:
print(CropsProductionfinal)

         Area Code                      Area  Item Code   Item  Element Code  \
2661189        231  United States of America         56  Maize          5510
2661190        231  United States of America         56  Maize          5510
2661191        231  United States of America         56  Maize          5510
2661192        231  United States of America         56  Maize          5510
2661193        231  United States of America         56  Maize          5510
...            ...                       ...        ...    ...           ...
2673095        231  United States of America         15  Wheat          5510
2673096        231  United States of America         15  Wheat          5510
2673097        231  United States of America         15  Wheat          5510
2673098        231  United States of America         15  Wheat          5510
2673099        231  United States of America         15  Wheat          5510

            Element  Year Code  Year    Unit        Value Flag
2661189  Production       1999  1999  tonnes  239548580.0  NaN
2661190  Production       2000  2000  tonnes  251853900.0  NaN
2661191  Production       2001  2001  tonnes  241376650.0  NaN
2661192  Production       2002  2002  tonnes  227766880.0  NaN
2661193  Production       2003  2003  tonnes  256229020.0  NaN
...             ...        ...   ...     ...          ...  ...
2673095  Production       2015  2015  tonnes   55839540.0  NaN
2673096  Production       2016  2016  tonnes   62831507.0  NaN
2673097  Production       2017  2017  tonnes   47379810.0  NaN
2673098  Production       2018  2018  tonnes   51305540.0  NaN
2673099  Production       2019  2019  tonnes   52580890.0  NaN

[63 rows x 11 columns]

In [43]:
CropsProductionfinal.drop(['Area Code'],axis=1, inplace=True)
CropsProductionfinal.drop(['Area'], axis=1, inplace=True)
CropsProductionfinal.drop(['Element Code'], axis=1, inplace=True)
CropsProductionfinal.drop(['Item Code'], axis=1, inplace=True)
CropsProductionfinal.drop(['Year Code'],axis=1, inplace=True)
CropsProductionfinal.drop(['Flag'], axis=1, inplace=True)
CropsProductionfinal.drop(['Element'], axis=1, inplace=True)
print(CropsProductionfinal)

          Item  Year    Unit        Value
2661189  Maize  1999  tonnes  239548580.0
2661190  Maize  2000  tonnes  251853900.0
2661191  Maize  2001  tonnes  241376650.0
2661192  Maize  2002  tonnes  227766880.0
2661193  Maize  2003  tonnes  256229020.0
...        ...   ...     ...          ...
2673095  Wheat  2015  tonnes   55839540.0
2673096  Wheat  2016  tonnes   62831507.0
2673097  Wheat  2017  tonnes   47379810.0
2673098  Wheat  2018  tonnes   51305540.0
2673099  Wheat  2019  tonnes   52580890.0

[63 rows x 4 columns]

C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [47]:
CropsProductionfinal.head()

          Item  Year    Unit        Value
2661189  Maize  1999  tonnes  239548580.0
2661190  Maize  2000  tonnes  251853900.0
2661191  Maize  2001  tonnes  241376650.0
2661192  Maize  2002  tonnes  227766880.0
2661193  Maize  2003  tonnes  256229020.0

In [48]:
ValueOfCropsusa = ValueOfCrops.loc[ValueOfCrops['Area']=='United States of America']
print(ValueOfCropsusa)

         Area Code                      Area  Item Code  \
2404087        231  United States of America        221
2404088        231  United States of America        221
2404089        231  United States of America        221
2404090        231  United States of America        221
2404091        231  United States of America        221
...            ...                       ...        ...
2430804        231  United States of America       1739
2430805        231  United States of America       1739
2430806        231  United States of America       1739
2430807        231  United States of America       1739
2430808        231  United States of America       1739

                                 Item  Element Code  \
2404087           Almonds, with shell           152
2404088           Almonds, with shell           152
2404089           Almonds, with shell           152
2404090           Almonds, with shell           152
2404091           Almonds, with shell           152
...                               ...           ...
2430804  Vegetables and Fruit Primary            58
2430805  Vegetables and Fruit Primary            58
2430806  Vegetables and Fruit Primary            58
2430807  Vegetables and Fruit Primary            58
2430808  Vegetables and Fruit Primary            58

                                                   Element  Year Code  Year  \
2404087  Gross Production Value (constant 2014-2016 tho...       1961  1961
2404088  Gross Production Value (constant 2014-2016 tho...       1962  1962
2404089  Gross Production Value (constant 2014-2016 tho...       1963  1963
2404090  Gross Production Value (constant 2014-2016 tho...       1964  1964
2404091  Gross Production Value (constant 2014-2016 tho...       1965  1965
...                                                    ...        ...   ...
2430804  Gross Production Value (constant 2014-2016 tho...       2014  2014
2430805  Gross Production Value (constant 2014-2016 tho...       2015  2015
2430806  Gross Production Value (constant 2014-2016 tho...       2016  2016
2430807  Gross Production Value (constant 2014-2016 tho...       2017  2017
2430808  Gross Production Value (constant 2014-2016 tho...       2018  2018

                Unit       Value Flag
2404087  1000 Int. $    304563.0   Fc
2404088  1000 Int. $    220167.0   Fc
2404089  1000 Int. $    273832.0   Fc
2404090  1000 Int. $    344026.0   Fc
2404091  1000 Int. $    334374.0   Fc
...              ...         ...  ...
2430804     1000 US$  49531059.0    A
2430805     1000 US$  47733385.0    A
2430806     1000 US$  46989280.0    A
2430807     1000 US$  44534969.0    A
2430808     1000 US$  43901719.0    A

[26722 rows x 11 columns]

In [61]:
ValueOfCropsusausa2 = ValueOfCropsusa.loc[ValueOfCropsusa['Item'].isin(['Maize','Soybeans','Wheat'])]

In [62]:
print(ValueOfCropsusausa2)

         Area Code                      Area  Item Code   Item  Element Code  \
2413925        231  United States of America         56  Maize           152
2413926        231  United States of America         56  Maize           152
2413927        231  United States of America         56  Maize           152
2413928        231  United States of America         56  Maize           152
2413929        231  United States of America         56  Maize           152
...            ...                       ...        ...    ...           ...
2427777        231  United States of America         15  Wheat            58
2427778        231  United States of America         15  Wheat            58
2427779        231  United States of America         15  Wheat            58
2427780        231  United States of America         15  Wheat            58
2427781        231  United States of America         15  Wheat            58

                                                   Element  Year Code  Year  \
2413925  Gross Production Value (constant 2014-2016 tho...       1961  1961
2413926  Gross Production Value (constant 2014-2016 tho...       1962  1962
2413927  Gross Production Value (constant 2014-2016 tho...       1963  1963
2413928  Gross Production Value (constant 2014-2016 tho...       1964  1964
2413929  Gross Production Value (constant 2014-2016 tho...       1965  1965
...                                                    ...        ...   ...
2427777  Gross Production Value (constant 2014-2016 tho...       2015  2015
2427778  Gross Production Value (constant 2014-2016 tho...       2016  2016
2427779  Gross Production Value (constant 2014-2016 tho...       2017  2017
2427780  Gross Production Value (constant 2014-2016 tho...       2018  2018
2427781  Gross Production Value (constant 2014-2016 tho...       2019  2019

                Unit       Value Flag
2413925  1000 Int. $  18344487.0   Fc
2413926  1000 Int. $  18387845.0   Fc
2413927  1000 Int. $  20493324.0   Fc
2413928  1000 Int. $  17765576.0   Fc
2413929  1000 Int. $  20919662.0   Fc
...              ...         ...  ...
2427777     1000 US$  10106957.0   Fc
2427778     1000 US$  11372503.0   Fc
2427779     1000 US$   8575746.0   Fc
2427780     1000 US$   9286303.0   Fc
2427781     1000 US$   9458629.0   Fc

[705 rows x 11 columns]

In [63]:
ValueOfCropsusa3 = ValueOfCropsusausa2.loc[ValueOfCropsusa['Element']=='Gross Production Value (current thousand US$)']
print(ValueOfCropsusa3)

         Area Code                      Area  Item Code   Item  Element Code  \
2414072        231  United States of America         56  Maize            57
2414073        231  United States of America         56  Maize            57
2414074        231  United States of America         56  Maize            57
2414075        231  United States of America         56  Maize            57
2414076        231  United States of America         56  Maize            57
...            ...                       ...        ...    ...           ...
2427718        231  United States of America         15  Wheat            57
2427719        231  United States of America         15  Wheat            57
2427720        231  United States of America         15  Wheat            57
2427721        231  United States of America         15  Wheat            57
2427722        231  United States of America         15  Wheat            57

                                               Element  Year Code  Year  \
2414072  Gross Production Value (current thousand US$)       1991  1991
2414073  Gross Production Value (current thousand US$)       1992  1992
2414074  Gross Production Value (current thousand US$)       1993  1993
2414075  Gross Production Value (current thousand US$)       1994  1994
2414076  Gross Production Value (current thousand US$)       1995  1995
...                                                ...        ...   ...
2427718  Gross Production Value (current thousand US$)       2015  2015
2427719  Gross Production Value (current thousand US$)       2016  2016
2427720  Gross Production Value (current thousand US$)       2017  2017
2427721  Gross Production Value (current thousand US$)       2018  2018
2427722  Gross Production Value (current thousand US$)       2019  2019

             Unit       Value Flag
2414072  1000 US$  17657704.0   Fc
2414073  1000 US$  19498257.0   Fc
2414074  1000 US$  15776604.0   Fc
2414075  1000 US$  22721252.0   Fc
2414076  1000 US$  24060154.0   Fc
...           ...         ...  ...
2427718  1000 US$  10051117.0   Fc
2427719  1000 US$   8984906.0   Fc
2427720  1000 US$   8196707.0   Fc
2427721  1000 US$   9696747.0   Fc
2427722  1000 US$   8727023.0   Fc

[87 rows x 11 columns]

In [64]:
ValueOfCropsusa4 = ValueOfCropsusa3.loc[ValueOfCropsusa3['Year'] > 1998]

In [65]:
ValueOfCropsFinal = ValueOfCropsusa4.loc[ValueOfCropsusa4['Year'] < 2020]
print(ValueOfCropsFinal)

         Area Code                      Area  Item Code   Item  Element Code  \
2414080        231  United States of America         56  Maize            57
2414081        231  United States of America         56  Maize            57
2414082        231  United States of America         56  Maize            57
2414083        231  United States of America         56  Maize            57
2414084        231  United States of America         56  Maize            57
...            ...                       ...        ...    ...           ...
2427718        231  United States of America         15  Wheat            57
2427719        231  United States of America         15  Wheat            57
2427720        231  United States of America         15  Wheat            57
2427721        231  United States of America         15  Wheat            57
2427722        231  United States of America         15  Wheat            57

                                               Element  Year Code  Year  \
2414080  Gross Production Value (current thousand US$)       1999  1999
2414081  Gross Production Value (current thousand US$)       2000  2000
2414082  Gross Production Value (current thousand US$)       2001  2001
2414083  Gross Production Value (current thousand US$)       2002  2002
2414084  Gross Production Value (current thousand US$)       2003  2003
...                                                ...        ...   ...
2427718  Gross Production Value (current thousand US$)       2015  2015
2427719  Gross Production Value (current thousand US$)       2016  2016
2427720  Gross Production Value (current thousand US$)       2017  2017
2427721  Gross Production Value (current thousand US$)       2018  2018
2427722  Gross Production Value (current thousand US$)       2019  2019

             Unit       Value Flag
2414080  1000 US$  17247498.0   Fc
2414081  1000 US$  18385335.0   Fc
2414082  1000 US$  18827379.0   Fc
2414083  1000 US$  20726786.0   Fc
2414084  1000 US$  24341757.0   Fc
...           ...         ...  ...
2427718  1000 US$  10051117.0   Fc
2427719  1000 US$   8984906.0   Fc
2427720  1000 US$   8196707.0   Fc
2427721  1000 US$   9696747.0   Fc
2427722  1000 US$   8727023.0   Fc

[63 rows x 11 columns]

In [66]:
ValueOfCropsFinal.drop(['Area Code'],axis=1, inplace=True)
ValueOfCropsFinal.drop(['Area'], axis=1, inplace=True)
ValueOfCropsFinal.drop(['Element Code'], axis=1, inplace=True)
ValueOfCropsFinal.drop(['Item Code'], axis=1, inplace=True)
ValueOfCropsFinal.drop(['Year Code'],axis=1, inplace=True)
ValueOfCropsFinal.drop(['Flag'], axis=1, inplace=True)
ValueOfCropsFinal.drop(['Element'], axis=1, inplace=True)
print(ValueOfCropsFinal)

          Item  Year      Unit       Value
2414080  Maize  1999  1000 US$  17247498.0
2414081  Maize  2000  1000 US$  18385335.0
2414082  Maize  2001  1000 US$  18827379.0
2414083  Maize  2002  1000 US$  20726786.0
2414084  Maize  2003  1000 US$  24341757.0
...        ...   ...       ...         ...
2427718  Wheat  2015  1000 US$  10051117.0
2427719  Wheat  2016  1000 US$   8984906.0
2427720  Wheat  2017  1000 US$   8196707.0
2427721  Wheat  2018  1000 US$   9696747.0
2427722  Wheat  2019  1000 US$   8727023.0

[63 rows x 4 columns]

In [67]:
TempChangesusa = TempChanges.loc[TempChanges['Area']=='United States of America']
print(TempChangesusa)

        Area Code                      Area  Months Code               Months  \
432276        231  United States of America         7001              January
432277        231  United States of America         7001              January
432278        231  United States of America         7001              January
432279        231  United States of America         7001              January
432280        231  United States of America         7001              January
...           ...                       ...          ...                  ...
434311        231  United States of America         7020  Meteorological year
434312        231  United States of America         7020  Meteorological year
434313        231  United States of America         7020  Meteorological year
434314        231  United States of America         7020  Meteorological year
434315        231  United States of America         7020  Meteorological year

        Element Code             Element  Year Code  Year Unit  Value Flag
432276          7271  Temperature change       1961  1961   �C  0.948   Fc
432277          7271  Temperature change       1962  1962   �C -0.765   Fc
432278          7271  Temperature change       1963  1963   �C -1.168   Fc
432279          7271  Temperature change       1964  1964   �C  0.906   Fc
432280          7271  Temperature change       1965  1965   �C  0.751   Fc
...              ...                 ...        ...   ...  ...    ...  ...
434311          6078  Standard Deviation       2016  2016   �C  0.303   Fc
434312          6078  Standard Deviation       2017  2017   �C  0.303   Fc
434313          6078  Standard Deviation       2018  2018   �C  0.303   Fc
434314          6078  Standard Deviation       2019  2019   �C  0.303   Fc
434315          6078  Standard Deviation       2020  2020   �C  0.303   Fc

[2040 rows x 11 columns]

In [68]:
TempChangesusa2 = TempChangesusa.loc[TempChangesusa['Element']=='Temperature change']
print(TempChangesusa2)

        Area Code                      Area  Months Code               Months  \
432276        231  United States of America         7001              January
432277        231  United States of America         7001              January
432278        231  United States of America         7001              January
432279        231  United States of America         7001              January
432280        231  United States of America         7001              January
...           ...                       ...          ...                  ...
434251        231  United States of America         7020  Meteorological year
434252        231  United States of America         7020  Meteorological year
434253        231  United States of America         7020  Meteorological year
434254        231  United States of America         7020  Meteorological year
434255        231  United States of America         7020  Meteorological year

        Element Code             Element  Year Code  Year Unit  Value Flag
432276          7271  Temperature change       1961  1961   �C  0.948   Fc
432277          7271  Temperature change       1962  1962   �C -0.765   Fc
432278          7271  Temperature change       1963  1963   �C -1.168   Fc
432279          7271  Temperature change       1964  1964   �C  0.906   Fc
432280          7271  Temperature change       1965  1965   �C  0.751   Fc
...              ...                 ...        ...   ...  ...    ...  ...
434251          7271  Temperature change       2016  2016   �C  2.229   Fc
434252          7271  Temperature change       2017  2017   �C  1.437   Fc
434253          7271  Temperature change       2018  2018   �C  1.278   Fc
434254          7271  Temperature change       2019  2019   �C  1.040   Fc
434255          7271  Temperature change       2020  2020   �C  1.331   Fc

[1020 rows x 11 columns]

In [69]:
TempChangesusa3 = TempChangesusa2.loc[TempChangesusa2['Months']=='Meteorological year']
print(TempChangesusa3)

        Area Code                      Area  Months Code               Months  \
434196        231  United States of America         7020  Meteorological year
434197        231  United States of America         7020  Meteorological year
434198        231  United States of America         7020  Meteorological year
434199        231  United States of America         7020  Meteorological year
434200        231  United States of America         7020  Meteorological year
434201        231  United States of America         7020  Meteorological year
434202        231  United States of America         7020  Meteorological year
434203        231  United States of America         7020  Meteorological year
434204        231  United States of America         7020  Meteorological year
434205        231  United States of America         7020  Meteorological year
434206        231  United States of America         7020  Meteorological year
434207        231  United States of America         7020  Meteorological year
434208        231  United States of America         7020  Meteorological year
434209        231  United States of America         7020  Meteorological year
434210        231  United States of America         7020  Meteorological year
434211        231  United States of America         7020  Meteorological year
434212        231  United States of America         7020  Meteorological year
434213        231  United States of America         7020  Meteorological year
434214        231  United States of America         7020  Meteorological year
434215        231  United States of America         7020  Meteorological year
434216        231  United States of America         7020  Meteorological year
434217        231  United States of America         7020  Meteorological year
434218        231  United States of America         7020  Meteorological year
434219        231  United States of America         7020  Meteorological year
434220        231  United States of America         7020  Meteorological year
434221        231  United States of America         7020  Meteorological year
434222        231  United States of America         7020  Meteorological year
434223        231  United States of America         7020  Meteorological year
434224        231  United States of America         7020  Meteorological year
434225        231  United States of America         7020  Meteorological year
434226        231  United States of America         7020  Meteorological year
434227        231  United States of America         7020  Meteorological year
434228        231  United States of America         7020  Meteorological year
434229        231  United States of America         7020  Meteorological year
434230        231  United States of America         7020  Meteorological year
434231        231  United States of America         7020  Meteorological year
434232        231  United States of America         7020  Meteorological year
434233        231  United States of America         7020  Meteorological year
434234        231  United States of America         7020  Meteorological year
434235        231  United States of America         7020  Meteorological year
434236        231  United States of America         7020  Meteorological year
434237        231  United States of America         7020  Meteorological year
434238        231  United States of America         7020  Meteorological year
434239        231  United States of America         7020  Meteorological year
434240        231  United States of America         7020  Meteorological year
434241        231  United States of America         7020  Meteorological year
434242        231  United States of America         7020  Meteorological year
434243        231  United States of America         7020  Meteorological year
434244        231  United States of America         7020  Meteorological year
434245        231  United States of America         7020  Meteorological year
434246        231  United States of America         7020  Meteorological year
434247        231  United States of America         7020  Meteorological year
434248        231  United States of America         7020  Meteorological year
434249        231  United States of America         7020  Meteorological year
434250        231  United States of America         7020  Meteorological year
434251        231  United States of America         7020  Meteorological year
434252        231  United States of America         7020  Meteorological year
434253        231  United States of America         7020  Meteorological year
434254        231  United States of America         7020  Meteorological year
434255        231  United States of America         7020  Meteorological year

        Element Code             Element  Year Code  Year Unit  Value Flag
434196          7271  Temperature change       1961  1961   �C  0.006   Fc
434197          7271  Temperature change       1962  1962   �C -0.019   Fc
434198          7271  Temperature change       1963  1963   �C  0.420   Fc
434199          7271  Temperature change       1964  1964   �C -0.280   Fc
434200          7271  Temperature change       1965  1965   �C -0.354   Fc
434201          7271  Temperature change       1966  1966   �C -0.210   Fc
434202          7271  Temperature change       1967  1967   �C  0.078   Fc
434203          7271  Temperature change       1968  1968   �C -0.074   Fc
434204          7271  Temperature change       1969  1969   �C -0.267   Fc
434205          7271  Temperature change       1970  1970   �C -0.030   Fc
434206          7271  Temperature change       1971  1971   �C -0.417   Fc
434207          7271  Temperature change       1972  1972   �C -0.248   Fc
434208          7271  Temperature change       1973  1973   �C -0.015   Fc
434209          7271  Temperature change       1974  1974   �C  0.081   Fc
434210          7271  Temperature change       1975  1975   �C -0.386   Fc
434211          7271  Temperature change       1976  1976   �C -0.125   Fc
434212          7271  Temperature change       1977  1977   �C  0.391   Fc
434213          7271  Temperature change       1978  1978   �C  0.029   Fc
434214          7271  Temperature change       1979  1979   �C -0.308   Fc
434215          7271  Temperature change       1980  1980   �C  0.405   Fc
434216          7271  Temperature change       1981  1981   �C  0.864   Fc
434217          7271  Temperature change       1982  1982   �C -0.342   Fc
434218          7271  Temperature change       1983  1983   �C  0.532   Fc
434219          7271  Temperature change       1984  1984   �C -0.231   Fc
434220          7271  Temperature change       1985  1985   �C -0.026   Fc
434221          7271  Temperature change       1986  1986   �C  0.577   Fc
434222          7271  Temperature change       1987  1987   �C  0.904   Fc
434223          7271  Temperature change       1988  1988   �C  0.463   Fc
434224          7271  Temperature change       1989  1989   �C  0.319   Fc
434225          7271  Temperature change       1990  1990   �C  0.668   Fc
434226          7271  Temperature change       1991  1991   �C  0.522   Fc
434227          7271  Temperature change       1992  1992   �C  0.394   Fc
434228          7271  Temperature change       1993  1993   �C  0.007   Fc
434229          7271  Temperature change       1994  1994   �C  0.465   Fc
434230          7271  Temperature change       1995  1995   �C  0.629   Fc
434231          7271  Temperature change       1996  1996   �C -0.009   Fc
434232          7271  Temperature change       1997  1997   �C  0.391   Fc
434233          7271  Temperature change       1998  1998   �C  1.268   Fc
434234          7271  Temperature change       1999  1999   �C  0.755   Fc
434235          7271  Temperature change       2000  2000   �C  1.000   Fc
434236          7271  Temperature change       2001  2001   �C  0.784   Fc
434237          7271  Temperature change       2002  2002   �C  0.953   Fc
434238          7271  Temperature change       2003  2003   �C  0.992   Fc
434239          7271  Temperature change       2004  2004   �C  0.866   Fc
434240          7271  Temperature change       2005  2005   �C  1.157   Fc
434241          7271  Temperature change       2006  2006   �C  1.028   Fc
434242          7271  Temperature change       2007  2007   �C  1.147   Fc
434243          7271  Temperature change       2008  2008   �C  0.215   Fc
434244          7271  Temperature change       2009  2009   �C  0.399   Fc
434245          7271  Temperature change       2010  2010   �C  0.694   Fc
434246          7271  Temperature change       2011  2011   �C  0.539   Fc
434247          7271  Temperature change       2012  2012   �C  1.451   Fc
434248          7271  Temperature change       2013  2013   �C  0.618   Fc
434249          7271  Temperature change       2014  2014   �C  0.504   Fc
434250          7271  Temperature change       2015  2015   �C  1.534   Fc
434251          7271  Temperature change       2016  2016   �C  2.229   Fc
434252          7271  Temperature change       2017  2017   �C  1.437   Fc
434253          7271  Temperature change       2018  2018   �C  1.278   Fc
434254          7271  Temperature change       2019  2019   �C  1.040   Fc
434255          7271  Temperature change       2020  2020   �C  1.331   Fc

In [70]:
TempChangesusa4 = TempChangesusa3.loc[TempChangesusa3['Year'] > 1998]

In [74]:
TempChangesFinal = TempChangesusa4.loc[TempChangesusa4['Year'] < 2020]
print(TempChangesFinal)

        Area Code                      Area  Months Code               Months  \
434234        231  United States of America         7020  Meteorological year
434235        231  United States of America         7020  Meteorological year
434236        231  United States of America         7020  Meteorological year
434237        231  United States of America         7020  Meteorological year
434238        231  United States of America         7020  Meteorological year
434239        231  United States of America         7020  Meteorological year
434240        231  United States of America         7020  Meteorological year
434241        231  United States of America         7020  Meteorological year
434242        231  United States of America         7020  Meteorological year
434243        231  United States of America         7020  Meteorological year
434244        231  United States of America         7020  Meteorological year
434245        231  United States of America         7020  Meteorological year
434246        231  United States of America         7020  Meteorological year
434247        231  United States of America         7020  Meteorological year
434248        231  United States of America         7020  Meteorological year
434249        231  United States of America         7020  Meteorological year
434250        231  United States of America         7020  Meteorological year
434251        231  United States of America         7020  Meteorological year
434252        231  United States of America         7020  Meteorological year
434253        231  United States of America         7020  Meteorological year
434254        231  United States of America         7020  Meteorological year

        Element Code             Element  Year Code  Year Unit  Value Flag
434234          7271  Temperature change       1999  1999   �C  0.755   Fc
434235          7271  Temperature change       2000  2000   �C  1.000   Fc
434236          7271  Temperature change       2001  2001   �C  0.784   Fc
434237          7271  Temperature change       2002  2002   �C  0.953   Fc
434238          7271  Temperature change       2003  2003   �C  0.992   Fc
434239          7271  Temperature change       2004  2004   �C  0.866   Fc
434240          7271  Temperature change       2005  2005   �C  1.157   Fc
434241          7271  Temperature change       2006  2006   �C  1.028   Fc
434242          7271  Temperature change       2007  2007   �C  1.147   Fc
434243          7271  Temperature change       2008  2008   �C  0.215   Fc
434244          7271  Temperature change       2009  2009   �C  0.399   Fc
434245          7271  Temperature change       2010  2010   �C  0.694   Fc
434246          7271  Temperature change       2011  2011   �C  0.539   Fc
434247          7271  Temperature change       2012  2012   �C  1.451   Fc
434248          7271  Temperature change       2013  2013   �C  0.618   Fc
434249          7271  Temperature change       2014  2014   �C  0.504   Fc
434250          7271  Temperature change       2015  2015   �C  1.534   Fc
434251          7271  Temperature change       2016  2016   �C  2.229   Fc
434252          7271  Temperature change       2017  2017   �C  1.437   Fc
434253          7271  Temperature change       2018  2018   �C  1.278   Fc
434254          7271  Temperature change       2019  2019   �C  1.040   Fc

In [75]:
TempChangesFinal.drop(['Area Code'],axis=1, inplace=True)
TempChangesFinal.drop(['Area'], axis=1, inplace=True)
TempChangesFinal.drop(['Element Code'], axis=1, inplace=True)
TempChangesFinal.drop(['Months'], axis=1, inplace=True)
TempChangesFinal.drop(['Year Code'],axis=1, inplace=True)
TempChangesFinal.drop(['Flag'], axis=1, inplace=True)
TempChangesFinal.drop(['Months Code'],axis=1, inplace=True)
TempChangesFinal.drop(['Element'], axis=1, inplace=True)
print(TempChangesFinal)

        Year Unit  Value
434234  1999   �C  0.755
434235  2000   �C  1.000
434236  2001   �C  0.784
434237  2002   �C  0.953
434238  2003   �C  0.992
434239  2004   �C  0.866
434240  2005   �C  1.157
434241  2006   �C  1.028
434242  2007   �C  1.147
434243  2008   �C  0.215
434244  2009   �C  0.399
434245  2010   �C  0.694
434246  2011   �C  0.539
434247  2012   �C  1.451
434248  2013   �C  0.618
434249  2014   �C  0.504
434250  2015   �C  1.534
434251  2016   �C  2.229
434252  2017   �C  1.437
434253  2018   �C  1.278
434254  2019   �C  1.040

C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [76]:
ValueOfCropsFinal.rename(columns={'Value': 'Value in US$1000', 'Item': 'Crops'}, inplace=True)
ValueOfCropsFinal.drop(['Unit'], axis=1, inplace=True)
ValueOfCropsFinal.head()

         Crops  Year  Value in US$1000
2414080  Maize  1999        17247498.0
2414081  Maize  2000        18385335.0
2414082  Maize  2001        18827379.0
2414083  Maize  2002        20726786.0
2414084  Maize  2003        24341757.0

In [77]:
CropsProductionfinal.rename(columns={'Value': 'Value in Tonnes', 'Item': 'Crops'}, inplace=True)
CropsProductionfinal.drop(['Unit'], axis=1, inplace=True)
CropsProductionfinal.head()

C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

         Crops  Year  Value in Tonnes
2661189  Maize  1999      239548580.0
2661190  Maize  2000      251853900.0
2661191  Maize  2001      241376650.0
2661192  Maize  2002      227766880.0
2661193  Maize  2003      256229020.0

In [78]:
TempChangesFinal.rename(columns={'Value': 'Temperature Change', 'Item': 'Crops'}, inplace=True)
TempChangesFinal.drop(['Unit'], axis=1, inplace=True)
TempChangesFinal.head()

C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\David\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        Year  Temperature Change
434234  1999               0.755
434235  2000               1.000
434236  2001               0.784
434237  2002               0.953
434238  2003               0.992

In [79]:
CropsProductionfinal.to_csv(r'C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week4/New Dataset/CropsProductionfinal.csv', index = False)

In [80]:
ValueOfCropsFinal.to_csv(r'C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week4/New Dataset/ValueOfCropsFinal.csv', index = False)

In [81]:
TempChangesFinal.to_csv(r'C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week4/New Dataset/TempChangesFinal.csv', index = False)

# Merging Datasets

In [83]:
CropsOutput = pd.merge(CropsProductionfinal, ValueOfCropsFinal, how='inner', left_on=['Crops','Year'], right_on=['Crops','Year'])
CropsOutput.head()

   Crops  Year  Value in Tonnes  Value in US$1000
0  Maize  1999      239548580.0        17247498.0
1  Maize  2000      251853900.0        18385335.0
2  Maize  2001      241376650.0        18827379.0
3  Maize  2002      227766880.0        20726786.0
4  Maize  2003      256229020.0        24341757.0

In [84]:
NormalizedMergedData = pd.merge(CropsOutput, TempChangesFinal, how='inner', on='Year')
NormalizedMergedData.head()

      Crops  Year  Value in Tonnes  Value in US$1000  Temperature Change
0     Maize  1999      239548580.0        17247498.0               0.755
1  Soybeans  1999       72223460.0        12277988.0               0.755
2     Wheat  1999       62567284.0         5693623.0               0.755
3     Maize  2000      251853900.0        18385335.0               1.000
4  Soybeans  2000       75055290.0        12534233.0               1.000

In [85]:
NormalizedMergedData.to_csv(r'C:/Users/David/Documents/vitu za maana/Education/Data Science Program/21 Final Project/Submitting Folder/Week4/New Dataset/NormalizedMergedData.csv', index = False)